.bg-head{
  background-color:beige;
}
.bg-main{
  background-color: #fdbf1b;
}
img.img-fluid{
  height:auto;
}
img.card-img-top{
  border-radius:50%;
  height:auto;
  box-shadow: 0.25em 0.25em 0.25em #a47c0c;
  margin-bottom:7rem;
}
.card-bg{
  background-color:purple;
  padding:1em;
  color:white;
  position:absolute;
  margin-top:20rem;
}
.card-bg .btn{
  position:absolute;
  margin-top:5rem;
  border-radius:0px;
  background-color: #ff0994;
  border-color:#ff0994;
  margin-bottom:3rem;
}
.col-md-4.col-12{
  position: relative;
  padding-top: 4rem;
}
.border-top1{
  border-top:1rem solid #7f07c3;
}
.bg-main1{
  margin-top:10rem;
}
.bg-grad2{
  background: rgb(156,6,240);
  background: linear-gradient(90deg, rgba(156,6,240,1) 0%, rgba(71,8,95,1) 100%);
  color:white;
  border-bottom:1px solid #fb0799;
}